@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,100;0,400;0,700;1,300&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nova+Flat&family=Overpass+Mono:wght@300..700&display=swap");

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

:root {
  --accent: 136, 58, 234;
  --accent-light: 224, 204, 250;
  --accent-dark: 49, 10, 101;
  --accent-gradient: linear-gradient(
    45deg,
    rgb(var(--accent)),
    rgb(var(--accent-light)) 30%,
    white 60%
  );
}

code {
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

/* .montserrat {
  font-family: "Montserrat";
}

.nova {
  font-family: "Nova Flat";
} */

.nova-regular {
  font-family: "Nova Flat", serif;
  font-weight: 400;
  font-style: normal;
}

.overpass-mono-300 {
  font-family: "Overpass Mono", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.alegreya-sans-thin {
  font-family: "Alegreya Sans", serif;
  font-weight: 100;
  font-style: normal;
}

.alegreya-sans-regular {
  font-family: "Alegreya Sans", serif;
  font-weight: 400;
  font-style: normal;
}

.alegreya-sans-bold {
  font-family: "Alegreya Sans", serif;
  font-weight: 700;
  font-style: normal;
}

.alegreya-sans-light-italic {
  font-family: "Alegreya Sans", serif;
  font-weight: 300;
  font-style: italic;
}

.montserrat-thin {
  font-family: "Montserrat Alternates", serif;
  font-weight: 100;
  font-style: normal;
}

.montserrat-extralight {
  font-family: "Montserrat Alternates", serif;
  font-weight: 200;
  font-style: normal;
}

.montserrat-light {
  font-family: "Montserrat Alternates", serif;
  font-weight: 300;
  font-style: normal;
}

.montserrat-regular {
  font-family: "Montserrat Alternates", serif;
  font-weight: 400;
  font-style: normal;
}

.montserrat-medium {
  font-family: "Montserrat Alternates", serif;
  font-weight: 500;
  font-style: normal;
}

.montserrat-semibold {
  font-family: "Montserrat Alternates", serif;
  font-weight: 600;
  font-style: normal;
}

.montserrat-bold {
  font-family: "Montserrat Alternates", serif;
  font-weight: 700;
  font-style: normal;
}

.montserrat-extrabold {
  font-family: "Montserrat Alternates", serif;
  font-weight: 800;
  font-style: normal;
}

.montserrat-black {
  font-family: "Montserrat Alternates", serif;
  font-weight: 900;
  font-style: normal;
}

.montserrat-thin-italic {
  font-family: "Montserrat Alternates", serif;
  font-weight: 100;
  font-style: italic;
}

.montserrat-extralight-italic {
  font-family: "Montserrat Alternates", serif;
  font-weight: 200;
  font-style: italic;
}

.montserrat-light-italic {
  font-family: "Montserrat Alternates", serif;
  font-weight: 300;
  font-style: italic;
}

.montserrat-regular-italic {
  font-family: "Montserrat Alternates", serif;
  font-weight: 400;
  font-style: italic;
}

.montserrat-medium-italic {
  font-family: "Montserrat Alternates", serif;
  font-weight: 500;
  font-style: italic;
}

.montserrat-semibold-italic {
  font-family: "Montserrat Alternates", serif;
  font-weight: 600;
  font-style: italic;
}

.montserrat-bold-italic {
  font-family: "Montserrat Alternates", serif;
  font-weight: 700;
  font-style: italic;
}

.montserrat-extrabold-italic {
  font-family: "Montserrat Alternates", serif;
  font-weight: 800;
  font-style: italic;
}

.montserrat-black-italic {
  font-family: "Montserrat Alternates", serif;
  font-weight: 900;
  font-style: italic;
}

.animated-header {
  /* color: burlywood; */
  /* transition: 0.1ms; */
  animation: name 3s alternate linear;
  transition: all 1s ease-out;
  &:hover {
    background: yellowgreen;
    /* transform: skewY(10deg); */
    &::part {
      content: "123456";
    }
    /* &::content {
      content: "Roseny";
    } */
  }
}

@keyframes name {
  0% {
    /* background-color: ; */
    font-size: 5px;
    color: rgb(234, 234, 234);
    /* transform: skewY(100deg); */
    /* transform: tar("0deg"); */
    translate: (0deg, 0deg);

    &:hover {
      background: #000;
    }
  }
  25% {
    /* background-color: black; */
    font-size: 10px;
    color: rgb(255, 255, 255);
    /* transform: skewY(40deg); */
    /* transform: tar("40deg"); */
    translate: (40deg, 0deg);

    &:hover {
      background: #3d0202;
    }
  }
  50% {
    /* background-color: black; */
    font-size: 45px;
    color: rgb(216, 216, 216);
    /* transform: skewY(0deg); */
    /* transform: tar("0deg"); */
    translate: (0deg, 0deg);

    &:hover {
      background: #5d4307;
    }
  }
  75% {
    /* background-color: black; */
    font-size: 30px;
    color: rgb(255, 255, 255);
    /* transform: skewY(20deg); */
    /* transform: tar("30deg"); */
    translate: (30deg, 0deg);

    &:hover {
      background: #083811;
    }
  }
  100% {
    /* background-color: black; */
    font-size: 4.5rem;
    color: #afafaf;
    /* transform: skewY(0deg); */
    /* transform: tar("0deg"); */
    translate: (0deg, 0deg);
    &:hover {
      background: #411c5f;
    }
  }
}
