---
import BaseLayout from "../../layouts/BaseLayout.astro";

const allPosts = await Astro.glob("../posts/*.md");
const tags = [...new Set(allPosts.map((c) => c.frontmatter.tags).flat())];
const pageTitle = "Tags";
---

<BaseLayout pageTitle={pageTitle}>
  <div class="flex flex-col gap-6">
    <p class="text-left">Select a tag for show relation posts</p>
    <div class="flex flex-col gap-4">
      {
        tags.map((c) => (
          <a
            href={`/tags/${c}/`}
            class="bg-violet-900 border-2 text-first-dark border-first-dark  dark:text-second dark:border-second px-2 py-1 rounded-md hover:text-second-light hover:bg-first-dark dark:hover:text-first-dark dark:hover:bg-second"
          >
            {c}
          </a>
        ))
      }
    </div>
  </div>
</BaseLayout>
