---
import { SomeoneRead } from '../components/icons/SomeoneRead';
import BaseLayout from '../layouts/BaseLayout.astro';
import '../styles/global.css';

const pageTitle = 'About'
---
<BaseLayout pageTitle={pageTitle}>
  <div class="flex-1 flex flex-col items-center justify-center gap-4">
  <div class="flex flex-col gap-4 items-center justify-center md:px-20 md:flex-row">
    <div class="flex flex-col gap-5">
      <p>This blog was created to share the little knowledge I have acquired studying, I hope it will be useful and help to clarify some topics of your interest.</p>
      <p>I'm a frontend developer </p>
      <p class="text-obscure dark:text-blank-light flex gap-3 items-center justify-center">
        Happy reading! 
        <SomeoneRead className='h-8 w-8'/>
      </p>
    </div>
  </div>
  </div>
</BaseLayout>