---
import BlogPost from "../components/BlogPost.astro";
import BaseLayout from "../layouts/BaseLayout.astro";

const allPosts = await Astro.glob("./posts/*.md");
---

<BaseLayout pageTitle={"Blog"}>
  <h2
    class="text-center font-semibold p-3 text-[36px] md:text-[40px] lg:text-[48px]"
  >
    Blog
  </h2>
  <ul class="flex-1 flex flex-wrap gap-4 items-center justify-center my-4">
    {
      allPosts.map((c) => (
        <BlogPost
          urlPost={c.url ?? "/blog"}
          title={c.frontmatter.title}
          author={c.frontmatter.author}
          description={c.frontmatter.description}
          date={c.frontmatter.pubDate.slice(0, 10)}
          coverImage={c.frontmatter.image.url}
        />
      ))
    }
  </ul>
</BaseLayout>
