---
import BaseLayout from "../layouts/BaseLayout.astro";

const allPosts = await Astro.glob("./posts/*.md")
const pageTitle = "My Astro Learning Blog"
---

<body>
  <BaseLayout pageTitle={pageTitle}>
    
    <p>This is where I will post about my journey learning Astro.</p>
    <ul class="list-decimal p-5">
      {allPosts.map((c)=>(<li><a href={c.url}>{c.frontmatter.title}</a></li>))}
    </ul>
  </BaseLayout>

</body>