---
import BaseLayout from "../layouts/BaseLayout.astro";
import "../styles/global.css";
---

<BaseLayout>
  <div class="min-h-dvh flex flex-col justify-center gap-4">
    <h1 class="text-6xl md:text-7xl font-nova">Roseny</h1>
    <h2 class="text-4xl md:text-5xl font-montserrat-regular">
      Frontend Developer
    </h2>
  </div>
  <div class="min-h-dvh flex flex-col justify-center gap-4 bg-[pink]">
    <h1 class="text-7xl font-bold">Roseny</h1>
    <h2 class="text-6xl">Front-end Developer</h2>
  </div>
  <div class="min-h-dvh flex flex-col justify-center gap-4">
    <h1 class="text-7xl font-bold">Roseny</h1>
    <h2 class="text-6xl">Front-end Developer</h2>
  </div>
</BaseLayout>
