---
import { ChevronDown } from "../components/icons/ChevronDown";
import { GithubIcon } from "../components/icons/GithubIcon";
import { LinkedinIcon } from "../components/icons/LinkedinIcon";
import { MailIcon } from "../components/icons/MailIcon";
import BaseLayout from "../layouts/BaseLayout.astro";
import "../styles/global.css";
---

<BaseLayout>
  <div
    class="min-h-dvh relative flex flex-col justify-center gap-4 text-[#afafaf]"
  >
    <h1 class="text-6xl md:text-7xl font-nova">Roseny</h1>
    <h2 class="text-3xl md:text-4xl font-overpass-mono font-extralight">
      Frontend Developer
    </h2>
    <div
      class="size-8 absolute bottom-8 left-[50%] -translate-x-[50%] animate-bounce"
    >
      <ChevronDown />
    </div>
  </div>
  <div class="min-h-dvh flex flex-col justify-center gap-4">
    <h2 class="text-4xl md:text-5xl font-nova">Projects</h2>
  </div>
  <div class="min-h-dvh flex flex-col justify-center items-center gap-20">
    <h2 class="w-full text-start text-4xl md:text-5xl font-nova">Contact</h2>
    <section
      class="max-w-[600px] font-alegreya flex flex-col items-center justify-center gap-10 md:flex-row md:gap-20 font-thin text-lg"
    >
      <p class="text-[#fff]">
        I'd love to hear from you! If you enjoy my explanations and have
        suggestions for topics we haven't covered yet, feel free to reach out to
        me through any of the options below. Whether you want to connect because
        you liked my code or have questions, I'm here to share my knowledge!
      </p>
      <div class="flex gap-6">
        <a href="https://github.com/Lachicagladiadora" class="size-8"
          ><MailIcon /></a
        >
        <a href="https://github.com/Lachicagladiadora" class="size-8"
          ><LinkedinIcon /></a
        >
        <a href="https://github.com/Lachicagladiadora" class="size-8"
          ><GithubIcon /></a
        >
      </div>
    </section>
  </div>
</BaseLayout>
