---
import BaseLayout from "../layouts/BaseLayout.astro";
import "../styles/global.css";

const pageTitle = "About me";
---

<BaseLayout>
  <>
    <h1 class="text-7xl font-bold">Roseny</h1>
    <h2 class="text-6xl">Front-end Developer</h2>
  </>
</BaseLayout>
