---
// import { ChevronDown } from "../components/icons/ChevronDown";
import BaseLayout from "../layouts/BaseLayout.astro";
import "../styles/global.css";
import { Contact } from "../components/Contact";
import { Projects } from "../components/Projects";
// import { MY_PROJECTS } from "../constants";
---

<BaseLayout>
  <div
    class="min-h-dvh relative flex flex-col justify-center gap-8 pb-[140px] md:pb-[180px]"
  >
    <div class="text-blank-light flex flex-col gap-4">
      <h1 class="text-center text-[40px] md:text-[45px] font-extrabold">
        Roseny
      </h1>
      <h2 class="text-center font-semibold text-[20px] md:text-[24px]">
        a Frontend Developer
      </h2>
    </div>
    <section class="text-">
      <p>
        In constant growth, with a <span class="font-bold text-second"
          >strong foundation</span
        > in <span class="font-bold">HTML</span>, <span class="font-bold"
          >CSS</span
        >, and <span class="font-bold">JavaScript</span>. This knowledge has
        provided me with a solid base for continuous <span
          class="font-bold text-second"
        >
          learning</span
        > of new trends, and I <span class="font-bold text-second">apply</span> what
        I learn by developing projects with modern tools such as <span
          class="font-bold">React</span
        >, <span class="font-bold">NextJs</span>, and <span class="font-bold"
          >TailwindCSS</span
        >, among others. Each project is an opportunity to keep <span
          class="font-bold text-second">improving</span
        > and <span class="font-bold text-second">expanding my experience</span
        >.
      </p>
    </section>
  </div>
  <div class="min-h-dvh flex flex-col justify-center py-5 gap-20">
    <h2
      class="text-center text-blank-light font-bold text-[20px] md:text-[24px]"
    >
      My experience
    </h2>
    <ul class="w-full flex flex-col gap-20"><Projects client:idle /></ul>
    <!-- <section></section> -->
  </div>
  <!-- <div class="min-h-dvh flex flex-col justify-center py-5 gap-20">
    <h2
      class="text-center text-blank-light font-bold text-[20px] md:text-[24px]"
    >
      My skills
    </h2>
    <section></section>
  </div> -->
  <div
    class="min-h-dvh flex flex-col justify-center items-center gap-16 pt-[96px] md:pt-[106px]"
  >
    <h2
      class="text-center text-blank-light font-bold text-[20px] md:text-[24px]"
    >
      I am looking for new opportunities
    </h2>
    <Contact />
  </div>
</BaseLayout>
