---
import { GithubIcon } from "./icons/GithubIcon";
import { LinkedinIcon } from "./icons/LinkedinIcon";
---

<footer class="w-full flex flex-col gap-2 items-center justify-center p-6 text-sm bg-obscure-dark text-blank-light dark:bg-blank-dark dark:text-obscure-dark">
  <div class="w-full max-w-[900px] flex gap-3 items-center justify-center">
    <a href="https://github.com/Lachicagladiadora" class="">
      <GithubIcon className="h-8 w-8 text-blank-light dark:text-obscure-dark"/>
    </a>  
    <a href="https://www.linkedin.com/in/dev-roseny-quintanilla/" class="">
      <LinkedinIcon className="h-8 w-8 text-blank-light dark:text-obscure-dark"/>
    </a>
    </div>
  <p class="flex items-center gap-3 text-blank-light dark:text-obscure-dark">Lachicagladiadora</p>
</footer>