---
import { GithubIcon } from "./icons/GithubIcon";
---

<footer class="w-full flex gap-2 items-center justify-center p-2 text-xs bg-obscure-dark text-blank-light dark:bg-blank-dark dark:text-obscure-dark md:text-sm">
  <div class="flex gap-3 items-center justify-center">
    <a href="https://github.com/Lachicagladiadora" class="">
      <GithubIcon className="h-5 w-5 text-blank-light dark:text-obscure-dark md:h-6 md:w-6 lg:h-7 lg:w-7"/>
    </a>      
  </div>
  <p class="flex items-center gap-3 text-blank-light dark:text-obscure-dark">Lachicagladiadora</p>
</footer>