---
import { GithubIcon } from "./icons/GithubIcon";
---

<footer class="w-full flex gap-2 items-center justify-center p-2 text-xs text-obscure bg-blank-light dark:bg-obscure-dark dark:text-blank-dark md:text-sm">
  <div class="flex gap-3 items-center justify-center">
    <a href="https://github.com/Lachicagladiadora" target="_blank">
      <GithubIcon className="h-5 w-5 md:h-6 md:w-6 lg:h-7 lg:w-7"/>
    </a>      
  </div>
  <p class="flex items-center gap-3">Lachicagladiadora</p>
</footer>