---
import { GithubIcon } from "./icons/GithubIcon";
import { LinkedinIcon } from "./icons/LinkedinIcon";
---

<footer class="w-full flex flex-col gap-2 items-center justify-center p-6 text-sm bg-black text-zinc-50 dark:bg-neutral-50 dark:text-black">
  <div class="w-full max-w-[900px] flex gap-3 items-center justify-center">
    <a href="https://github.com/Lachicagladiadora" class="">
      <GithubIcon className="h-8 w-8 text-gray-50 dark:text-black"/>
    </a>  
    <a href="https://www.linkedin.com/in/dev-roseny-quintanilla/" class="">
      <LinkedinIcon className="h-8 w-8 text-gray-50 dark:text-black"/>
    </a>
    </div>
  <p class="flex items-center gap-3">Lachicagladiadora</p>
</footer>