---
import Navigation from "./Navigation.astro";

---
<div class="p-5 cursor-pointer" id="hamburger">
  <span class="w-10 h-1 bg-[#ff9776] mb-2 block"></span>
  <span class="w-10 h-1 bg-[#ff9776] mb-2 block"></span>
  <span class="w-10 h-1 bg-[#ff9776] mb-2 block"></span>
</div>
<Navigation />
<div class="p-5 cursor-pointer hidden" id="hamburger-close">
  <span class="w-10 h-1 bg-[#ff9776] mb-2 block rotate-45"></span>
  <span class="w-10 h-1 bg-[#ff9776] mb-2 block -rotate-45 -translate-y-5"></span>
</div>

<script>
  import "../scripts/menu"
</script>