---
import Hamburger from "./Hamburger.astro";

---
<!-- <Hamburger/> -->
 <div id="navigation" class="hidden absolute top-20 ">
   <a href="/">Home</a>
   <a href="/about/">About</a>
   <a href="/blog/">Blog</a>
 </div>