---
import Footer from '../components/Footer.astro';
import { Header } from '../components/Header';
import { BLOG_NAME } from '../constants';
import '../styles/global.css';

interface Props {pageTitle: string}

---

<html lang="en">
  <head>
    <meta charset="utf-8" />

    <link rel="icon" type="image/svg+xml" href="/src/images/knowbud-192x192.ico" />
    <!-- <link rel="icon" type="image/svg+xml" href="/src/images/knowbud-512x512.svg" /> -->
    <!-- <link rel="icon" type="image/svg+xml" sizes="32x32" href="/src/images/knowbud-512x512.png" /> -->
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} >
    <title>{BLOG_NAME}</title>
  </head>
  <body id="body-element" class="w-full h-full min-h-[100vh] transition-colors bg-blank-light text-obscure flex flex-col  dark:bg-obscure-dark dark:text-blank-light">

     <Header client:idle/>
     <main class="w-full flex-1 mx-auto flex flex-col p-5 md:max-w-[900px]">
     <slot/>
     </main>
    <Footer/>
  </body>
</html>