---
import Footer from "../components/Footer.astro";
import { Header } from "../components/Header";
import { BLOG_NAME } from "../constants";
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <!-- <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png"> -->
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>roseny.dev</title>

    <meta
      name="description"
      content="Personal website with portfolio and blog for devs"
    />
    <meta
      name="keywords"
      content="roseny, rosenyquintanilla, roseny quintanilla, roseny.dev, roseny dev, dev roseny"
    />
    <meta name="author" content="Roseny" />

    <!-- Open Graph for social medias (Facebook, LinkedIn, etc.) -->
    <meta property="og:title" content="Roseny" />
    <meta
      property="og:description"
      content="Personal website with portfolio and blog for devs"
    />
    <meta property="og:image" content="https://ejemplo.com/favicon.svg" />
    <meta property="og:url" content="https://roseny.dev" />
    <meta property="og:type" content="website" />

    <!-- Twitter Cards (Optimize fot Twitter) -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="Roseny" />
    <meta
      name="twitter:description"
      content="Personal website with portfolio and blog for devs"
    />
    <meta name="twitter:image" content="https://ejemplo.com/favicon.svg" />
    <meta name="twitter:site" content="@roseny" />
  </head>
  <body
    id="body-element"
    class="w-full h-full min-h-[100vh] flex flex-col transition-colors text-obscure-dark bg-blank-light dark:bg-obscure-dark dark:text-blank-light"
  >
    <Header client:idle />
    <main class="w-full flex-1 mx-auto flex flex-col p-5 md:max-w-[900px]">
      <slot />
    </main>
    <Footer />
  </body>
</html>
